/*Default Reset CSS*/
*{
	margin: 0;
	padding: 0;
	border: 0;

}


/*actual CSS styling*/

.WidthContainer{
	width: 940px;
	margin: auto;
}

.Container
{
	font-family: Arial , Helvetica, sans-serif;
}
#Content
{
	padding: 30px 38px;
	font-size: 14px;
}

#NavigationBar
{
	background-color : #d6d6d6;
	height : 60px;
	line-height: 60px;
	font-size: 14px;
}

li {
	display: inline;
}

li a{
	
	color: black;
	text-decoration: none;
}
li a:hover{
	color: #ffffff;
	background-color: #499bd7;
	border-radius: 3px;
	padding: 5px 0px 5px 0px;
}
.ImageBox{
	float: left;
	height: 207px;
	width: 207px;
	padding:0px 12px 5px 0px;


}
#Footer{
	height: 65px;
	background-color: #eeeeee;
	line-height: 65px;
	font-size: 12px; 
	
}
.Links{
	float: left;
}
.BottomMessege{
	float: right;
}
#Banner
{
	background-color : #499bd7;
	height: 177px;
	text-align: center;
	font-size: 30px;
	color: white;
	line-height: 177px;
}
