/*Default Reset CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
#navigator {
	background-color:#444444;
	font-weight:bold;
}
#logo{
	float:left;
	margin:9px 50px 9px 0px;
	height: 32px;
}
#navigator li {
 	float:left;
	text-transform: uppercase;
	font-size:14px;
	border-right: 1px solid gray;
	line-height:50px;
}
#navigator li:first-child{
	border-left: 1px solid gray;
}
#navigator li a 
{
    color:#939393;
    display: block;
    padding: 0px 25px;
}
#navigator li a:hover 
{
    color:#ff9900;
}
.clearBlock
{
	clear:both;
}
#banner
{
	background-image: url("../images/background_header.jpg");
}
#banner img
{
	float:right;
	margin: 50px 0px 32px 0px;
}
.artGallery
{
	margin:186px 0px 0px 19px;
	float:left;
	color:white;	
}
h1
{
	font-size:40px;
	font-weight:bold;
}
h2
{
	font-size:30px;
}
.viewGallery, .joinNow {	
	width: 170px;
	margin:47px 0px 0px 0px;
	float:left;	
	border-radius: 5px;
	line-height:47px;
	text-align:center;
}
.viewGallery{
	background:white;		
}
.joinNow{
	background: #ff9900;
	margin-left: 20px;
}
.viewGallery a, .joinNow a{	
	display: block;
	line-height: 47px;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color:#1f1f1f;
}
.joinNow a {
	color: #ffffff;
}
h3 {
	text-align:center;
	font-weight:bold;
	color:#575757;
	font-size:36px;
	line-height:62px;
	height:62px;
	margin:62px 0px 76px 0px;
}
#content ul {
	padding: 0px 120px 0px 120px;
}
#content ul li {
	width: 175px;
	float:left;	
}
.circle { 
	width:140px;
	height:140px;
	border-radius:70px;
	background:#efefef;
	margin: 0px 18px 0px 17px;
}

.circle img {
	padding:48px 43px 0px 0px;
	float: left;
	width=140px;
	margin-left:40px;
	
}
#content ul li p{
	margin:26px 10px 0px 10px;
	width=140px;
	text-align: center;
}
.wrapper
{
	width:940px;
	margin:auto;
}
#footer
{
	margin-top:115px;
	background-color: #ececec;
	color: Gray;
	padding-bottom: 85px;
	box-shadow: 0px -2px 3px #aaaaaa;
}
.socialMediaOption li
{
	width: 20px;
	height: 22px;
	float: right;
	border-radius: 15px;
	background-color: rgba(133,133,133,1);
	padding: 4px 5px 4px 5px;
	margin: 20px 8px 0px 0px;
}
.socialMediaOption li:hover{
	background-color: cornflowerBlue;
}
.bottomMenu li{
	float: left;
	margin: 30px 15px 28px 0px;
}
.bottomMenu a{
	color: #ff9900;
	font-weight: bold;
}
.bottomMenu a:hover{
	color: rgba(62,62,62,1);
}
.selectedPage a{
	color: rgba(62,62,62,1);
	font-weight: bold;
}
.bottomMessage{
	float: left;
}
.bottomOptions{
	margin-left: 25px;
	float: left;
}
#footer .bottomOptions li{
	margin:0px;
	float: left;
}
#footer .bottomOptions li a{
	color: #aaaaaa;
	margin: 0px 10px;
}
#footer .bottomOptions li a:hover{
	color: #666666;
}