/*Default Reset CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
	display: block;
}
ul{
	list-style-type: none;
}

.container
{
	width:940px;
	margin:auto;
}
.clearBlock, .options li.clearBlock, .contents ul li.clearBlock, .footer li.clearBlock
{
	clear:both;
	float: none;
	height:0;
	width:0;
	margin:0;
	border:0;
	padding:0;
}
a.logo{
	float:left;
	height: 45px;
	width:120px;
	background-image: url("../images/logo.png");
	margin:6px 0px 4px 0px;
}

ul.socialIcons{
	float: right;
	margin-top: 16px;
}
.socialIcons li{
	float: left;
}
.socialIcons li a
{
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: #ff0000;
	margin: 0px 0px 0px 5px;
}
.socialIcons li a.facebook{
	background-image: url("../images/fb_icon.png");
}
.socialIcons li a.twitter{
	background-image: url("../images/twitter_icon.png");
}
.socialIcons li a.pin{
	background-image: url("../images/pin_icon.png");
}
.socialIcons li a.googlePlus{
	background-image: url("../images/google_plus_icon.png");
}
.socialIcons a:hover{
	background-color: #aa0000;
}
ul.navigationLinks{
	float: right;
	margin: 22px 22px 0px 0px;
}
.navigationLinks li{
	float: left;
	margin-right: 20px;
}
.navigationLinks li a{
	color: #ff0000;
}
.navigationLinks li a:hover{
	color: #aa0000;
}

.slider{
	background: #000000 no-repeat url("../images/wedding_bg.jpg") center top;
}
.slider .container{
	position: relative;
	height: 545px;
}
.slider .textWrapper{
	position: absolute;
	margin:440px 0px 20px 0px;
}

.slider h1{
	font-size: 44px;
	color: #ffffff;
}
.slider h3{
	font-size: 22px;
	color: #ffffff;
}
.optionsList{
	background-color: #ff0000;
	padding: 20px 0px;
	margin-bottom: 65px;
}
.options li{
	float: left;
	margin-left: 20px;
	width: 216px;
	height: 56px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	background:url("../images/go_icon.png") no-repeat right 15px center;
}
.options li:first-child{
	margin-left: 0px;
}
.options li a{

	color: #ffffff;
	font-size: 20px;
	line-height: 58px;
	padding-left: 20px;
}
.options li a img{
	float: right;
	margin-right: 13px;
	margin-top: 16px;
}
.options li:hover{
	background: #aa0000 url("../images/go_icon.png") no-repeat right 15px center;
	border-color:#aaaaaa;
}
.contents{
	margin-bottom:70px;
}

.contents h2{
	color: #ff0000;
	font-size: 30px;
	margin-bottom: 24px;
}

.contents ul li{
	float: left;
	width:300px;
	margin-left: 20px;
}
.contents .description{
	background-color: #000000;
	color: white;
	padding:20px 40px 25px 15px;
}
.contents ul li:first-child{
	margin-left: 0px;
}
.contents .imageBox{
	height: 200px;
}
.contents ul li span{
	font-size: 11px;
	font-weight: bold;
}
.contents ul li h1{
	font-size: 18px;
	font-weight: bold;
	padding:0px 0px 0px 0px;
}
.contents ul li p{
	font-size: 12px;
	padding:15px 0px 0px 0px;
	font-weight: bold;
}
.footer{
	padding: 29px 0px 129px 0px;
	background-color: rgba(63,63,63,1);
}
.footer ul li a{
	color: #ffffff;
	font-family: Minion Pro;
	font-size:14px;
}
.footer ul li a:hover{
	color: #aa5555;
}
.footerList{
	width:165px;
	float:left;
	margin-left: 28px;
	color:#ffffff;
}
.footerList:first-child{

	margin-left: 0px;
}
.footerList .upper h4{
	margin-left: 3px;
	font-family: Myriad Pro;
	font-size: 15px;
	color: #aaaaaa;
}
.footerList .bottom{
	margin-top: 25px;
}
.footerList .bottom li a{
	font-weight: bold;
}
.bottomNavigation{
	border-top: 1px solid #535353;
	margin: 29px 0px 0px 0px;
	padding-top: 20px;
}
.bottomNavigation ul{
	width:580px;
	margin: auto;
}
.bottomNavigation ul li{
	float: left;
	border-left: 1px solid #ffffff;
	padding:0px 9px;
}
.bottomNavigation ul li:first-child{
	border-left: none;
}
.bottomNavigation ul li a{
	font-family: Myriad Pro;
	font-size: 12px;	
}
.bottomNavigation p{
	color: #b2b2b2;
	font-family: Minion Pro;
	font-size: 14px;
	margin-top: 12px;
	text-align: center;
}