/*Default Reset CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
	display: block;
}
ul{
	list-style-type: none;
}

.container
{
	width:940px;
	margin:auto;
}
.clearBlock, .options li.clearBlock, .contents ul li.clearBlock
{
	clear:both;
	float: none;
	height:0;
	width:0;
	margin:0;
	border:0;
	padding:0;
}
a.logo{
	float:left;
	height: 45px;
	width:120px;
	background-image: url("../images/logo.png");
	margin:6px 0px 4px 0px;
}

ul.socialIcons{
	float: right;
	margin-top: 16px;
}
.socialIcons li{
	float: left;
}
.socialIcons li a
{
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: #ff0000;
	margin: 0px 0px 0px 5px;
}
.socialIcons li a.facebook{
	background-image: url("../images/fb_icon.png");
}
.socialIcons li a.twitter{
	background-image: url("../images/twitter_icon.png");
}
.socialIcons li a.pin{
	background-image: url("../images/pin_icon.png");
}
.socialIcons li a.googlePlus{
	background-image: url("../images/google_plus_icon.png");
}
.socialIcons a:hover{
	background-color: cornflowerBlue;
}
ul.navigationLinks{
	float: right;
	margin: 22px 22px 0px 0px;
}
.navigationLinks li{
	float: left;
	margin-right: 20px;
}
.navigationLinks li a{
	color: #ff0000;
}
.navigationLinks li a:hover{
	color: #773300;
}

.slider{
	background-color: #000000;
}
.slider .container{
	background-image: url("../images/wedding_bg.jpg");
}
.slider h2{
	font-size: 44px;
	color: #ffffff;
	padding:440px 0px 0px 0px;
}
.slider h3{
	font-size: 22px;
	color: #ffffff;
	padding-bottom: 20px;
}
.optionsList{
	background-color: #ff0000;
	padding: 20px 0px;
}
.options li{
	float: left;
	margin-right: 11px;
}
.options li a{
	width: 200px;
	height: 60px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	background-color: transparent;
	color: #ffffff;
	font-size: 20px;
	line-height: 60px;
	padding-left: 20px;
}
.options li a img{
	float: right;
	margin-right: 13px;
	margin-top: 16px;
}
.options li a:hover{
	background-color: #aaaaaa;
	border-color: #bbbbbb;
}
.contents{
	padding: 65px 0px 70px 0px;
}

.contents h2{
	color: #ff0000;
	font-size: 30px;
	margin-bottom: 24px;
}

.contents ul li{
	float: left;
	width:300px;
	margin-left: 20px;
	background-color: #000000;
	color: white;
}
.contents ul li:first-child{
	margin-left: 0px;
}

.contents ul li h3{
	font-size: 11px;
	font-weight: bold;
	padding:20px 40px 0px 15px;

}
.contents ul li h1{
	font-size: 18px;
	font-weight: bold;
	padding:0px 40px 0px 15px;
}
.contents ul li h4{
	font-size: 12px;
	padding:15px 40px 25px 15px;
}
.footer{
	padding: 29px 0px 129px 0px;
	background-color: rgba(63,63,63,1);
}

.footerList{
	float:left;
	margin-left: 70px;
}
.footerList:first-child{
	float:left;
	margin-left: 0px;
}
.footerList li a{
	color: #ffffff;
	font-family: Minion Pro;
	font-size: 14px;
}
.footerList li:first-child{
	color: #b2b2b2;
	font-family: Myriad Pro;
	font-size: 15px;
	padding-left: 4px;
}
.footerList hr
{
	border-top: 1px solid #ffffff;
	margin-left: 5px;
	margin-right: 5px;
}